Repository albertocavalcante/bossa: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dprint-md, dprint-toml, dprint-json

cargo-fmt:
  run: cargo fmt -- --check

cargo-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

dprint-md:
  run: dprint check {staged_files}

dprint-toml:
  run: dprint check {staged_files}

dprint-json:
  run: dprint check {staged_files}

feat: add Bazel build support
  .bazelrc
  .bazelversion
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  lefthook.yml
  rustfmt.toml
Due: dprint-toml

fix: update platforms and bazel_skylib versions
  MODULE.bazel
Due: none

fix: resolve clippy warnings
  src/commands/brew.rs
  src/commands/config.rs
  src/commands/doctor.rs
  src/commands/nova.rs
  src/commands/refs.rs
  src/commands/status.rs
  src/commands/sync.rs
  src/commands/t9.rs
  src/commands/workspace.rs
  src/commands/worktree.rs
  src/config.rs
  src/ui.rs
Due: cargo-fmt, cargo-clippy

feat(bossa): rewrite nova command as fully native Rust
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/commands/crud.rs
  src/commands/declarative.rs
  src/commands/doctor.rs
  src/commands/migrate.rs
  src/commands/mod.rs
  src/commands/nova.rs
  src/config.rs
  src/engine/differ.rs
  src/engine/executor.rs
  src/engine/mod.rs
  src/engine/planner.rs
  src/main.rs
  src/progress.rs
  src/resource/brew_package.rs
  src/resource/dock.rs
  src/resource/file_handler.rs
  src/resource/gh_extension.rs
  src/resource/macos_default.rs
  src/resource/mod.rs
  src/resource/pnpm_package.rs
  src/resource/service.rs
  src/resource/symlink.rs
  src/resource/vscode_extension.rs
  src/runner.rs
  src/schema.rs
  src/state.rs
  src/sudo.rs
  src/ui.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

ci: add GitHub Actions release workflow
  .github/workflows/release.yml
Due: none

chore: set initial version to 0.1.0
  Cargo.toml
Due: dprint-toml

fix: security fixes and comprehensive test coverage
  src/cli.rs
  src/commands/nova.rs
  src/config.rs
  src/main.rs
  src/schema.rs
  src/state.rs
Due: cargo-fmt, cargo-clippy

feat: add bazel install target
  BUILD.bazel
  MODULE.bazel
  tools/scripts/BUILD.bazel
  tools/scripts/install-local.sh
Due: none

fix: correct rust-toolchain action name and pin actions
  .github/workflows/release.yml
Due: none

docs: add Homebrew installation instructions
  README.md
Due: dprint-md

feat: add caches command for external drive cache management
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/commands/caches.rs
  src/commands/mod.rs
  src/config.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

refactor(cli): use Display trait for Target instead of inherent to_string
  MODULE.bazel.lock
  src/cli.rs
Due: cargo-fmt, cargo-clippy

feat(collections): generalize refs command to work with any collection
  src/cli.rs
  src/commands/collections.rs
  src/commands/migrate.rs
  src/commands/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

chore: add justfile for build convenience
  justfile
Due: none

feat(collections): add clean command to delete clones
  src/cli.rs
  src/commands/collections.rs
Due: cargo-fmt, cargo-clippy

feat(manifest): add content hashing and duplicate detection
  Cargo.lock
  Cargo.toml
  src/commands/manifest.rs
  src/commands/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

feat(icloud): add icloud crate for managing iCloud Drive files
  BUILD.bazel
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  MODULE.bazel.lock
  crates/BUILD.bazel
  crates/icloud/BUILD.bazel
  crates/icloud/Cargo.toml
  crates/icloud/README.md
  crates/icloud/examples/evict.rs
  crates/icloud/examples/status.rs
  crates/icloud/src/backend/brctl.rs
  crates/icloud/src/backend/mod.rs
  crates/icloud/src/error.rs
  crates/icloud/src/lib.rs
  crates/icloud/src/types.rs
Due: cargo-fmt, cargo-clippy, dprint-md, dprint-toml

refactor: extract manifest and declarative crates
  Cargo.lock
  Cargo.toml
  crates/declarative/BUILD.bazel
  crates/declarative/Cargo.toml
  crates/declarative/README.md
  crates/declarative/src/context.rs
  crates/declarative/src/diff.rs
  crates/declarative/src/executor.rs
  crates/declarative/src/lib.rs
  crates/declarative/src/planner.rs
  crates/declarative/src/resource.rs
  crates/declarative/src/types.rs
  crates/icloud/HANDOFF.md
  crates/manifest/BUILD.bazel
  crates/manifest/Cargo.toml
  crates/manifest/README.md
  crates/manifest/src/error.rs
  crates/manifest/src/lib.rs
  crates/manifest/src/types.rs
  src/commands/manifest.rs
  src/commands/nova.rs
  src/engine/differ.rs
  src/engine/executor.rs
  src/engine/mod.rs
  src/engine/planner.rs
  src/resource/brew_package.rs
  src/resource/macos_default.rs
  src/resource/mod.rs
  src/sudo.rs
Due: cargo-fmt, cargo-clippy, dprint-md, dprint-toml

feat(icloud): add CLI commands for iCloud Drive management
  crates/icloud/HANDOFF.md
  src/cli.rs
  src/commands/icloud.rs
  src/commands/mod.rs
  src/engine/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, dprint-md

refactor(ui): extract shared utilities and improve code quality
  src/commands/icloud.rs
  src/commands/manifest.rs
  src/ui.rs
Due: cargo-fmt, cargo-clippy

docs(icloud): update handoff with completed items and next steps
  crates/icloud/HANDOFF.md
Due: dprint-md

feat(icloud): improve status detection with block allocation
  crates/icloud/HANDOFF.md
  crates/icloud/src/backend/brctl.rs
  crates/icloud/src/lib.rs
Due: cargo-fmt, cargo-clippy, dprint-md

docs(icloud): update handoff with commit hash
  crates/icloud/HANDOFF.md
Due: dprint-md

feat(storage): add unified storage overview command
  Cargo.lock
  Cargo.toml
  crates/icloud/HANDOFF.md
  src/cli.rs
  src/commands/mod.rs
  src/commands/storage.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, dprint-md, dprint-toml

docs(icloud): update handoff with storage command commit hash
  crates/icloud/HANDOFF.md
Due: dprint-md

fix(bazel): add missing manifest and declarative crate deps
  BUILD.bazel
Due: none

feat(storage): add cross-storage duplicate detection
  crates/manifest/src/lib.rs
  crates/manifest/src/types.rs
  src/cli.rs
  src/commands/storage.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

docs(icloud): update handoff with cross-storage duplicates completion
  crates/icloud/HANDOFF.md
Due: dprint-md

feat(storage): allow filtering manifests in duplicates command
  src/cli.rs
  src/commands/storage.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

refactor(storage): improve duplicates command UX and fix review issues
  crates/manifest/src/lib.rs
  src/cli.rs
  src/commands/storage.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

refactor(storage): split into focused modules
  src/commands/storage.rs
  src/commands/storage/collectors.rs
  src/commands/storage/disk.rs
  src/commands/storage/display.rs
  src/commands/storage/duplicates.rs
  src/commands/storage/mod.rs
  src/commands/storage/types.rs
Due: cargo-fmt, cargo-clippy

feat(brew): add brewkit crate for Homebrew package management
  BUILD.bazel
  Cargo.lock
  Cargo.toml
  crates/brewkit/BUILD.bazel
  crates/brewkit/Cargo.toml
  crates/brewkit/src/audit.rs
  crates/brewkit/src/backend/brew.rs
  crates/brewkit/src/backend/mod.rs
  crates/brewkit/src/brewfile/mod.rs
  crates/brewkit/src/brewfile/parser.rs
  crates/brewkit/src/brewfile/writer.rs
  crates/brewkit/src/bundle.rs
  crates/brewkit/src/error.rs
  crates/brewkit/src/lib.rs
  crates/brewkit/src/retry.rs
  crates/brewkit/src/types.rs
  src/cli.rs
  src/commands/brew.rs
  src/commands/config.rs
  src/commands/mod.rs
  src/commands/refs.rs
  src/commands/status.rs
  src/commands/sync.rs
  src/commands/t9.rs
  src/commands/workspace.rs
  src/commands/worktree.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

feat(toolchain): add crate for installing build tools + bump to Rust 1.90
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  MODULE.bazel.lock
  crates/brewkit/Cargo.toml
  crates/brewkit/src/audit.rs
  crates/brewkit/src/backend/brew.rs
  crates/brewkit/src/brewfile/parser.rs
  crates/brewkit/src/brewfile/writer.rs
  crates/brewkit/src/bundle.rs
  crates/declarative/Cargo.toml
  crates/declarative/src/planner.rs
  crates/declarative/src/types.rs
  crates/icloud/Cargo.toml
  crates/icloud/src/backend/mod.rs
  crates/icloud/src/lib.rs
  crates/manifest/Cargo.toml
  crates/manifest/src/lib.rs
  crates/toolchain/Cargo.toml
  crates/toolchain/examples/install_buck2.rs
  crates/toolchain/src/backend/github.rs
  crates/toolchain/src/backend/mod.rs
  crates/toolchain/src/error.rs
  crates/toolchain/src/lib.rs
  crates/toolchain/src/platform.rs
  crates/toolchain/src/tools/buck2.rs
  crates/toolchain/src/tools/mod.rs
  crates/toolchain/src/types.rs
  src/commands/brew.rs
  src/commands/caches.rs
  src/commands/declarative.rs
  src/commands/doctor.rs
  src/commands/icloud.rs
  src/commands/storage/collectors.rs
  src/commands/storage/display.rs
  src/config.rs
  src/engine/planner.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

feat(termkit): extract terminal UI toolkit into reusable crate
  BUILD.bazel
  Cargo.lock
  Cargo.toml
  MODULE.bazel.lock
  crates/termkit/BUILD.bazel
  crates/termkit/Cargo.toml
  crates/termkit/src/format.rs
  crates/termkit/src/layout.rs
  crates/termkit/src/lib.rs
  crates/termkit/src/messages.rs
  crates/termkit/src/progress.rs
  crates/toolchain/BUILD.bazel
  src/commands/collections.rs
  src/commands/declarative.rs
  src/engine/executor.rs
  src/progress.rs
  src/ui.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

refactor(tui): migrate from termkit to pintui
  BUILD.bazel
  Cargo.lock
  Cargo.toml
  crates/termkit/BUILD.bazel
  crates/termkit/Cargo.toml
  crates/termkit/src/format.rs
  crates/termkit/src/layout.rs
  crates/termkit/src/lib.rs
  crates/termkit/src/messages.rs
  crates/termkit/src/progress.rs
  src/progress.rs
  src/ui.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

ci: add comprehensive CI/CD workflows with workflow linting
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lefthook.yml
  tools/lint/ghalint.yaml
  tools/lint/pinact.yaml
Due: none

docs: add mdbook docs, workflow, and preview targets
  .github/workflows/docs.yml
  .gitignore
  Cargo.lock
  docs/book.toml
  docs/src/README.md
  docs/src/SUMMARY.md
  docs/src/advanced/caching.md
  docs/src/advanced/declarative.md
  docs/src/getting-started/installation.md
  docs/src/getting-started/quickstart.md
  docs/src/guide/brew.md
  docs/src/guide/collections.md
  docs/src/guide/configuration.md
  docs/src/guide/icloud.md
  docs/src/guide/nova.md
  docs/src/guide/storage.md
  docs/src/reference/cli.md
  docs/src/reference/config-files.md
  docs/src/reference/environment.md
  justfile
Due: dprint-md, dprint-toml

ci: fix release workflow ghalint policies
  .github/actions/release-notes/action.yml
  .github/actions/release-notes/dist/index.d.ts
  .github/actions/release-notes/dist/index.d.ts.map
  .github/actions/release-notes/dist/index.js
  .github/actions/release-notes/dist/index.js.map
  .github/actions/release-notes/dist/licenses.txt
  .github/actions/release-notes/dist/sourcemap-register.js
  .github/actions/release-notes/dist/types.d.ts
  .github/actions/release-notes/dist/types.d.ts.map
  .github/workflows/release.yml
Due: none

ci: pin rust toolchain explicitly
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  cargo-fmt: any of: *.rs
  cargo-clippy: any of: *.rs
  dprint-md: any of: *.md
  dprint-toml: any of: *.toml
  dprint-json: any of: *.json
