Repository albertocavalcante/bossa: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dprint-md, dprint-toml, dprint-json

cargo-fmt:
  run: cargo fmt -- --check

cargo-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

dprint-md:
  run: dprint check {staged_files}

dprint-toml:
  run: dprint check {staged_files}

dprint-json:
  run: dprint check {staged_files}

feat(tools): add tools command for installing dev tools
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/commands/mod.rs
  src/commands/tools.rs
  src/main.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

feat(tools): add platform availability and network config
  src/commands/tools.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy

ci: add nightly builds, DEB/RPM packaging, and reusable actions
  .github/workflows/nightly.yml
  packaging/deb/control.in
  packaging/homebrew/bossa-nightly.rb.in
  packaging/homebrew/bossa.rb.in
  packaging/rpm/bossa.spec.in
Due: none

ci: use reusable actions for packaging and nightly checks
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci: use rust-build reusable workflow and update to Rust 1.90
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

fix: linting, formatting, and rustdoc issues
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  lefthook.yml
  src/commands/storage/disk.rs
  src/commands/tools.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy

fix: allow unnecessary_cast lint for cross-platform statvfs
  src/commands/storage/disk.rs
Due: cargo-fmt, cargo-clippy

feat: add developer workflow shortcuts to justfile
  justfile
Due: none

feat: add install script for GitHub releases
  README.md
  tools/scripts/install.sh
Due: dprint-md

feat(lint): add yaml/mdx formatting support via dprint
  docs/src/advanced/declarative.md
  docs/src/reference/cli.md
  docs/src/reference/config-files.md
  dprint.json
  lefthook.yml
  tools/lint/pinact.yaml
Due: dprint-md, dprint-json

chore: update lockfile
  MODULE.bazel.lock
Due: none

feat: add cross-platform paths, stow command, and tools outdated
  Cargo.lock
  Cargo.toml
  README.md
  src/cli.rs
  src/commands/mod.rs
  src/commands/stow.rs
  src/commands/tools.rs
  src/config.rs
  src/main.rs
  src/paths.rs
  src/resource/symlink.rs
  src/schema.rs
  src/state.rs
  tools/scripts/install.ps1
Due: cargo-fmt, cargo-clippy, dprint-md, dprint-toml

docs: add stow and tools outdated command documentation
  README.md
Due: dprint-md

feat(tools): add npm source and dependency ordering
  README.md
  src/commands/tools.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy, dprint-md

feat(theme): add GNOME/GTK theme preset management
  README.md
  src/cli.rs
  src/commands/mod.rs
  src/commands/theme.rs
  src/main.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy, dprint-md

fix(install): use GitHub API to discover assets on download failure
  tools/scripts/install.sh
Due: none

fix(install): improve robustness and add shellcheck hook
  MODULE.bazel.lock
  lefthook.yml
  tools/scripts/install.sh
Due: none

docs(readme): suggest nightly version and improve install script
  README.md
  tools/scripts/install.sh
Due: dprint-md

fix(install): prioritize API discovery for asset URLs
  tools/scripts/install.sh
Due: none

fix(install): correct version argument passing when piping script
  README.md
  tools/scripts/install.sh
Due: dprint-md

feat(disk): add disk management commands (status, backup, repartition)
  src/cli.rs
  src/commands/disk/backup.rs
  src/commands/disk/mod.rs
  src/commands/disk/repartition.rs
  src/commands/disk/status.rs
  src/commands/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

fix(disk): use diskutil for space info instead of statvfs
  src/commands/disk/status.rs
Due: cargo-fmt, cargo-clippy

chore(justfile): add nightly recipe and change default to list
  justfile
Due: none

fix(disk): parse plist and correct space reporting
  Cargo.lock
  Cargo.toml
  MODULE.bazel.lock
  src/commands/disk/backup.rs
  src/commands/disk/mod.rs
  src/commands/disk/plist.rs
  src/commands/disk/repartition.rs
  src/commands/disk/status.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

chore(bazel): update module lockfile
  MODULE.bazel.lock
Due: none

feat(disk): add APFS encrypted option to repartition command
  src/commands/disk/repartition.rs
Due: cargo-fmt, cargo-clippy

feat(defaults): add macOS defaults command
  docs/plans/DECLARATIVE_CONFIG_GENERATION.md
  docs/plans/LOCATION_MANAGEMENT_FEATURE.md
  src/cli.rs
  src/commands/defaults.rs
  src/commands/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, dprint-md

refactor(paths): centralize path expansion
  src/commands/declarative.rs
  src/commands/disk/backup.rs
  src/commands/icloud.rs
  src/commands/manifest.rs
  src/commands/nova.rs
  src/commands/stow.rs
  src/commands/tools.rs
  src/config.rs
  src/paths.rs
  src/resource/dock.rs
  src/resource/symlink.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy

docs(plan): add symlink fallback and shell RC scanning features
  docs/plans/LOCATION_MANAGEMENT_FEATURE.md
Due: dprint-md

feat(state): add unified symlink tracking inventory
  src/commands/caches.rs
  src/commands/stow.rs
  src/state.rs
Due: cargo-fmt, cargo-clippy

feat(locations): add location registry for path abstraction
  src/cli.rs
  src/commands/locations.rs
  src/commands/mod.rs
  src/main.rs
  src/paths.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy

feat(configs): add git config generation from bossa config
  src/cli.rs
  src/commands/configs.rs
  src/commands/mod.rs
  src/generators/git.rs
  src/generators/mod.rs
  src/main.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy

feat(relocate): add directory relocation with path reference updates
  src/cli.rs
  src/commands/mod.rs
  src/commands/relocate.rs
  src/main.rs
  src/scanner/mod.rs
  src/scanner/shell.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: *.rs
  cargo-clippy: any of: *.rs
  dprint-md: any of: *.md
  dprint-toml: any of: *.toml
  dprint-json: any of: *.json
