Repository albertocavalcante/bossa: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, shellcheck, dprint-md, dprint-toml, dprint-json, dprint-yaml, workflow-lint, workflow-pin

cargo-fmt:
  run: cargo fmt -- --check

cargo-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

shellcheck:
  run: shellcheck {staged_files}

dprint-md:
  run: dprint check {staged_files}

dprint-toml:
  run: dprint check {staged_files}

dprint-json:
  run: dprint check {staged_files}

dprint-yaml:
  run: dprint check {staged_files}

workflow-lint:
  run: ghalint run -c tools/lint/ghalint.yaml
  fail_text: Fix GitHub Actions workflow issues (ghalint)

workflow-pin:
  run: pinact run --verify -c tools/lint/pinact.yaml
  fail_text: Run 'pinact run -u -c tools/lint/pinact.yaml' to pin action versions

fix: resolve clippy pedantic lint warnings
  crates/brewkit/src/backend/brew.rs
  crates/toolchain/examples/install_buck2.rs
Due: cargo-fmt, cargo-clippy

fix: resolve clippy lint and fix lefthook glob patterns
  crates/icloud/examples/evict.rs
  lefthook.yml
Due: cargo-fmt, cargo-clippy, dprint-yaml

feat(cli): group commands in help output and improve empty-state UX
  src/cli.rs
  src/commands/declarative.rs
Due: cargo-fmt, cargo-clippy

fix(stow): replace misleading "up to date" for missing packages
  src/commands/stow.rs
Due: cargo-fmt, cargo-clippy

fix(stow): auto-create missing package dirs on sync
  src/commands/stow.rs
Due: cargo-fmt, cargo-clippy

fix(stow): detect empty source dirs and suppress noisy warn log
  src/cli.rs
  src/commands/stow.rs
Due: cargo-fmt, cargo-clippy

feat(cli): add ANSI color to help output
  Cargo.toml
Due: dprint-toml

feat: add `bossa dotfiles` command
  Cargo.lock
  MODULE.bazel.lock
  src/cli.rs
  src/commands/dotfiles.rs
  src/commands/mod.rs
  src/commands/nova.rs
  src/main.rs
  src/schema.rs
  src/state.rs
Due: cargo-fmt, cargo-clippy

feat(dotfiles): add hash-based multi-source reconciliation
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/commands/dotfiles.rs
  src/commands/dotfiles_reconcile.rs
  src/commands/mod.rs
  src/commands/nova.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy, dprint-toml

feat(dotfiles): add interactive setup wizard for reconcile config
  src/commands/dotfiles_reconcile.rs
Due: cargo-fmt, cargo-clippy

feat(dotfiles): improve setup wizard UX with package selection and validation
  src/commands/dotfiles_reconcile.rs
Due: cargo-fmt, cargo-clippy

feat(stow): show detailed per-package symlink listing when up to date
  src/commands/stow.rs
Due: cargo-fmt, cargo-clippy

fix: resolve clippy lints and add clippy to pre-push hook
  crates/brewkit/src/brewfile/parser.rs
  crates/brewkit/src/bundle.rs
  crates/icloud/examples/status.rs
  crates/icloud/src/backend/brctl.rs
  crates/icloud/src/lib.rs
  crates/manifest/src/lib.rs
  crates/toolchain/src/error.rs
  crates/toolchain/src/tools/buck2.rs
  crates/toolchain/src/types.rs
  lefthook.yml
  src/commands/stow.rs
Due: cargo-fmt, cargo-clippy, dprint-yaml

feat(doctor): add actionable issue summary with fix commands
  src/commands/doctor.rs
Due: cargo-fmt, cargo-clippy

feat(doctor): show specific error details instead of generic messages
  src/commands/doctor.rs
Due: cargo-fmt, cargo-clippy

refactor(cli): simplify command dispatch and add adapter tests
  src/commands/collections.rs
  src/commands/disk/mod.rs
  src/commands/icloud.rs
  src/commands/manifest.rs
  src/main.rs
  src/runner.rs
Due: cargo-fmt, cargo-clippy

fix(concurrency): recover from poisoned lock state in parallel apply
  .gitattributes
  MODULE.bazel.lock
  src/commands/declarative.rs
  src/engine/executor.rs
Due: cargo-fmt, cargo-clippy

refactor(core): harden command runtime paths and progress styles
  src/commands/collections.rs
  src/commands/declarative.rs
  src/commands/disk/backup.rs
  src/commands/icloud.rs
  src/commands/manifest.rs
  src/resource/macos_default.rs
Due: cargo-fmt, cargo-clippy

fix(ci): resolve statvfs clippy mismatch across platforms
  lefthook.yml
  src/commands/disk/backup.rs
  src/commands/storage/disk.rs
Due: cargo-fmt, cargo-clippy, dprint-yaml

fix(docs): resolve rustdoc link errors and gate in pre-push
  lefthook.yml
  src/cli.rs
Due: cargo-fmt, cargo-clippy, dprint-yaml

test(paths): serialize env var mutations to avoid flaky parallel tests
  src/paths.rs
Due: cargo-fmt, cargo-clippy

fix(ux): bug fixes, safety guards, and formatting consistency
  src/cli.rs
  src/commands/caches.rs
  src/commands/collections.rs
  src/commands/defaults.rs
  src/commands/doctor.rs
  src/commands/dotfiles_reconcile.rs
  src/commands/nova.rs
  src/commands/relocate.rs
  src/commands/tools.rs
  src/resource/macos_default.rs
Due: cargo-fmt, cargo-clippy

feat(nova): implement Homebrew auto-install stage
  src/commands/brew.rs
  src/commands/doctor.rs
  src/commands/nova.rs
Due: cargo-fmt, cargo-clippy

feat(cellar): warehouse Homebrew packages on external SSD
  src/cli.rs
  src/commands/caches.rs
  src/commands/cellar.rs
  src/commands/mod.rs
  src/commands/nova.rs
  src/main.rs
  src/runner.rs
  src/schema.rs
Due: cargo-fmt, cargo-clippy

docs(readme): refresh project overview
  README.md
Due: dprint-md

Path conditions:
  cargo-fmt: any of: *.rs
  cargo-clippy: any of: *.rs
  shellcheck: any of: *.sh
  dprint-md: any of: *.md
  dprint-toml: any of: *.toml
  dprint-json: any of: *.json
  dprint-yaml: any of: *.{yaml,yml}
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  workflow-pin: any of: .github/workflows/*.{yml,yaml}
